__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.egg
.pytest_cache/
.ruff_cache/
*.png
*.html
*.svg
!assets/svg-examples/*.svg
!assets/landscape.svg
!assets/paysage.svg

.private/
# Coverage reports
.coverage
.coverage.*
htmlcov/
coverage.xml

.DS_Store


demo-data/


.private/

!assets/logo.png
