__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.egg
.pytest_cache/
.ruff_cache/
*.png
*.html
*.svg

.private/
# Coverage reports
.coverage
.coverage.*
htmlcov/
coverage.xml

.DS_Store


demo-data/

!assets/logo.png
